<body>
  <main>
        <div class="max-w-4xl mx-auto py-12">
          <nav class="text-sm text-gray-500 animate__animated animate__fadeIn">
            <ol class="flex items-center space-x-1 bg-gray-200 text-l rounded-lg p-3">
              <li class="text-gray-700 font-medium underline"><a href="/">首頁</a></li>
              <li>/</li>
              <li>最新更新</li>
              <li>/</li>
              <li class="text-gray-700 font-medium"><%= page.title %></li>
            </ol>
          </nav>
      
          <article class="mt-8 animate__animated animate__fadeIn">
            <h1 class="text-4xl font-bold mb-4">
                <%= page.title %>
            </h1>
            <time class="block text-lg text-gray-600 mb-6" datetime="2023-12-25">
              公開日: <%- date(page.date, "YYYY-MM-DD") %>
              分類: <% if (page.categories && page.categories.length){ %>
                        <%- list_categories(page.categories, {
                                show_count: false,
                                class: 'nexmoefont icon-appstore-fill ',
                                style: 'none',
                                separator: ''
                        }) %>
                <% } %>
            </time>
            <p class="text-lg mb-4">
                <%- page.content %>
            </p>
          </article>
        </div>      
  </main>
</body>      